azure-functions>=1.24.0
azure-identity
openai>=1.109.1
tiktoken
tenacity
azure-ai-documentintelligence==1.0.2
azure-search-documents==12.1.0b1
azure-storage-blob
azure-storage-file-datalake
aiohttp
dotenv-azd
Pillow
types-Pillow
pypdf
PyMuPDF
beautifulsoup4
types-beautifulsoup4
rich
typing-extensions
